/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: #e6e6fa;
  overflow-x: hidden;
}
html body {
  overflow-x: hidden;
  max-width: 100%;
  color: #2f4f4f;
  font-family: 'Baloo Da 2', cursive;
}
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  font-family: 'Ubuntu', sans-serif;
}
html body h1 {
  font-size: 4.5rem;
}
html body h2 {
  font-size: 3.2rem;
}
html body h3 {
  font-size: 2.8rem;
}
html body h4 {
  font-size: 2.5rem;
}
html body p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.main {
  width: 80%;
}
header .nav-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 4% 8%;
  font-size: 1.6rem;
}
header .nav-header .vaca h1 {
  margin-bottom: 5%;
}
header .nav-header nav {
  width: 80%;
  margin-left: 25%;
}
header .nav-header a {
  width: 40%;
  margin: auto 2%;
  color: #f08080;
}
footer {
  background-color: black;
}
footer .foot-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  margin: 0 auto;
}
footer .foot-nav nav {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 50%;
}
footer .foot-nav a {
  width: 60%;
  margin: auto 2%;
}
.beginning img {
  width: 100%;
  height: 40%;
}
.beginning h2 {
  text-align: center;
  font-size: 5rem;
  margin-top: 2%;
}
.beginning p {
  text-align: center;
  font-size: 2rem;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 6%;
  margin-top: 2%;
}
.visit-places {
  width: 100%;
}
h3 {
  text-align: center;
  font-size: 3rem;
  margin-top: 2%;
  margin-bottom: 1%;
}
p {
  text-align: center;
  margin-bottom: 2%;
}
.mst {
  display: flex;
  justify-content: space-evenly;
}
.mst div {
  width: 100%;
}
.mst img {
  width: 40%;
  height: 90%;
  margin-left: 20%;
  margin-right: 20%;
}
.img3 {
  display: flex;
  justify-content: center;
}
.img3 div {
  width: 100%;
}
.img3 img {
  width: 50%;
  height: 70vh;
  margin-left: 20%;
  margin-right: 20%;
}
.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul {
  list-style-type: none;
}
ul li {
  font-size: 1.5rem;
}
.login {
  margin-bottom: 2%;
}
.age {
  font-size: 1rem;
}
.age label {
  font-size: 2rem;
}
body {
  margin: 0 auto;
}
.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.profile .pro {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}
.profile .pro p {
  width: 100%;
  margin-top: 2%;
}
.profile .pro img {
  height: 100px;
}
.profile .pro h4 {
  font-size: 2rem;
}
.service h3 {
  text-align: left;
}
.btn {
  background-color: #008080;
  width: 50%;
  color: #f5deb3;
  padding-left: 8%;
  padding-right: 8%;
  border-radius: 12px;
  font-family: 'Baloo Da 2', cursive;
  font-size: 1.8rem;
}
@font-face {
  font-family: 'Baloo Da 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Baloo Da 2 Regular'), local('BalooDa2-Regular'), url(https://fonts.gstatic.com/s/balooda2/v1/2-ci9J9j0IaUMQZwAJyJQundpQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKfw7z.ttf) format('truetype');
}
