/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border: 1px solid red;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: #e6e6fa;
  border: 20px solid #f08080;
  border-radius: 15px;
}
html body {
  color: #2f4f4f;
  font-family: 'Baloo Da 2', cursive;
}
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  font-family: 'Ubuntu', sans-serif;
}
html body h1 {
  font-size: 4.5rem;
}
html body h2 {
  font-size: 3.2rem;
}
html body h3 {
  font-size: 2.8rem;
}
html body h4 {
  font-size: 2.5rem;
}
html body p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.btn {
  background-color: #008080;
  width: 50%;
  color: #f5deb3;
  padding-left: 8%;
  padding-right: 8%;
  border-radius: 12px;
  font-family: 'Baloo Da 2', cursive;
  font-size: 1.8rem;
}
body {
  margin: 0 8%;
}
body .nav-container {
  display: flex;
  justify-content: space-between;
}
body .nav-container nav {
  width: 65%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
body .nav-container a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}
body .home .intro {
  border: 5px #f08080 solid;
  padding: 4% 0;
}
body .home .plane-images {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 4% 3%;
}
body .home .plane-images img {
  width: 30%;
  border: 2px #f08080 solid;
  border-radius: 4px;
}
body .home .SEA-BNA,
body .home .LAX-LHR {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4% 0;
}
body .nashvilleWall {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .nashvilleWall img {
  width: 80%;
  margin: 4% 3%;
  border: 2px #f08080 solid;
  border-radius: 4px;
}
body .LAX-LHR .londonCalling {
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 4%;
}
body .LAX-LHR .londonCalling img {
  margin: 4% 3%;
  width: 80%;
}
body .airportAirline-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  color: #f5deb3;
  background-color: #008080;
  border: 5px solid #f5deb3;
}
body .airportAirline-container h4 {
  padding: 3% 5%;
}
body p {
  text-align: center;
  padding: 1%;
}
body .book-flights {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .book-flights .forms {
  width: 80%;
  display: flex;
}
body .book-flights .forms label {
  width: 100%;
  justify-content: center;
}
body footer p {
  background-color: #e6e6fa;
}
@font-face {
  font-family: 'Baloo Da 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Baloo Da 2 Regular'), local('BalooDa2-Regular'), url(https://fonts.gstatic.com/s/balooda2/v1/2-ci9J9j0IaUMQZwAJyJQundpQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKfw7z.ttf) format('truetype');
}
