body {
	margin: 0 8%;
	.nav-container {
		display: flex;
		justify-content: space-between;
		nav {
			width: 65%;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
		}
		a {
			text-decoration: none;
			font-size: 2rem;
			font-weight: bold;
		}
	}
	.home {
		.intro {
			border: 5px @main-background-color solid;
			padding: 4% 0;
		}
		.plane-images {
			display: flex;
			width: 100%;
			justify-content: space-between;
			padding: 4% 3%;

			img {
				width: 30%;
				border: 2px @main-background-color solid;
				border-radius: 4px;
			}
		}
		.SEA-BNA,
		.LAX-LHR {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 4% 0;
		}
	}
	.nashvilleWall {
		display: flex;
		flex-direction: column;
		align-items: center;
		img {
			width: 80%;
			margin: 4% 3%;
			border: 2px @main-background-color solid;
			border-radius: 4px;
		}
	}
	.LAX-LHR {
		.londonCalling {
			display: flex;
			flex-direction: column;
			align-items: center;

			display: flex;
			justify-content: center;
			padding: 4%;
			img {
				margin: 4% 3%;
				width: 80%;
			}
		}
	}
	.airportAirline-container {
		width: 80%;
		display: flex;
		flex-direction: column;
		color: @secondary-color;
		background-color: @dark-background-color;
		border: 5px solid @secondary-color;
		h4 {
			padding: 3% 4.8%;
		}
	}
	p {
		text-align: center;
		padding: 1%;
	}
	.book-flights {
		display: flex;
		flex-direction: column;
		align-items: center;
		.forms {
			width: 80%;
			display: flex;
			label {
				width: 100%;
				justify-content: center;
			}
		}
	}

	footer {
		p {
			background-color: @secondary-background-color;
		}
	}
}
